<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Passenger</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.worldvectorlogo.com/logos/lot-2.svg">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="" th:href="@{/css/styles.css}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styleshome.css}">
</head>
<body>
<div th:replace="~{header}"></div>
<div class="container mt-5 main-content">
    <form action="#" th:action="@{/create_passenger/{id}(id=${flight.id})}" th:object="${passenger}" method="post" class="needs-validation" novalidate>
        <h1 class="mt-5">Create Passenger</h1>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input type="text" id="firstName" name="firstName" class="form-control" th:field="*{firstName}" required>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" id="lastName" name="lastName" class="form-control" th:field="*{lastName}" required>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="flightID" class="form-label">Flight ID:</label>
            <input type="text" id="flightID" name="flightID" class="form-control" th:field="*{flightID}" readonly>
            <span th:if="${#fields.hasErrors('flightID')}" th:errors="*{flightID}" class="text-danger"></span>
            <span th:if="${error}" class="text-danger" th:text="${error}"></span>
        </div>
        <div class="mb-3">
            <label for="telephone" class="form-label">Telephone:</label>
            <input type="text" id="telephone" name="telephone" class="form-control" th:field="*{telephone}" required>
            <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/flights" class="btn btn-primary">Back</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
