<header class="header">
    <nav class="nav container">
        <div class="nav__data">
            <a href="/" class="nav__logo">
                <i class="icon-plane"></i> Fly Management System
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__toggle-menu"></i>
                <i class="ri-close-line nav__toggle-close"></i>
            </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="/create_flight" class="nav__link">Create Flight</a>
                </li>
                <li>
                    <a href="/flights" class="nav__link">Manage Flights</a>
                </li>
                <li>
                    <a href="/passengers" class="nav__link">Manage Passengers</a>
                </li>
                <li>
                    <a href="/search_flight" class="nav__link">Search Flight</a>
                </li>
            </ul>
        </div>
    </nav>
</header>