<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Flight</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{navbar}"></div>
<div class="container">
    <h1 class="mt-5">Update Flight</h1>
    <form action="#" th:action="@{/update_flight}" th:object="${flight}" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="flightId" class="form-label">Select a flight to update:</label>
            <select id="flightId" name="id" class="form-select">
                <option th:each="flight : ${flights}" th:value="${flight.id}" th:text="${flight.flightNumber}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="flightNumber" class="form-label">(optional) New Flight Number:</label>
            <br>
            <span>If you do not want to change flight number, please select the same number as above</span>
            <select id="flightNumber" name="flightNumber" class="form-select">
                <option th:each="flight : ${flights}" th:value="${flight.flightNumber}" th:text="${flight.flightNumber}"></option>
            </select>
            <span th:if="${#fields.hasErrors('flightNumber')}" th:errors="*{flightNumber}" class="text-danger"></span>
<!--            <span th:if="${error}" class="text-danger" th:text="${error}"></span>-->
        </div>
        <div class="mb-3">
            <label for="startingPlace" class="form-label">(optional) New Starting Place:</label>
            <input type="text" id="startingPlace" name="startingPlace" class="form-control">
            <span th:if="${#fields.hasErrors('startingPlace')}" th:errors="*{startingPlace}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="destination" class="form-label"> (optional) New Destination:</label>
            <input type="text" id="destination" name="destination" class="form-control">
            <span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label for="flightDate" class="form-label">(optional) New Flight Date:</label>
            <input type="datetime-local" id="flightDate" name="flightDate" class="form-control"
                   min="0000-00-00T00:00" max="9999-12-31T23:59">
            <span th:if="${#fields.hasErrors('flightDate')}" th:errors="*{flightDate}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="seats" class="form-label">(optional) New Number of Seats:</label>
            <input type="number" id="seats" name="seats" class="form-control">
            <span th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update Flight</button>
    </form>
    <br>
    <a href="/" class="btn btn-primary">Back to Home Page</a>
</div>
</body>
</html>
